### Some good test queries in here, including
- Direct BQ SQL Queries
- Direct Queris of views I saved in BQ

In [2]:
import pandas as pd

In [17]:
%%capture
!pip install google-cloud-bigquery-storage

In [14]:
! bq query --use_legacy_sql=FALSE '\
SELECT\
Morning,\
Afternoon,\
Total - Morning - Afternoon AS Other,\
Total\
FROM\
(\
SELECT\
COUNT(trip_id) as Total,\
COUNT(IF( EXTRACT(HOUR FROM DATETIME_TRUNC(DATETIME(start_date), HOUR)) BETWEEN 5 AND 11, trip_id, NULL)) AS Morning,\
COUNT(IF( EXTRACT(HOUR FROM DATETIME_TRUNC(DATETIME(start_date), HOUR)) BETWEEN 12 AND 15, trip_id, NULL)) AS Afternoon\
FROM\
`bigquery-public-data.san_francisco.bikeshare_trips`\
) AS x;'

Waiting on bqjob_r155b308265366b62_00000174b34191c8_1 ... (2s) Current status: DONE
+---------+-----------+--------+--------+
| Morning | Afternoon | Other  | Total  |
+---------+-----------+--------+--------+
|  404919 |    176142 | 402587 | 983648 |
+---------+-----------+--------+--------+

In [12]:
! bq query --use_legacy_sql=FALSE 'SELECT * FROM `bigquery-public-data.san_francisco.bikeshare_trips` LIMIT 10'

Waiting on bqjob_r46b00081ce87c4e2_00000174b33b60e9_1 ... (0s) Current status: DONE
+---------+--------------+---------------------+--------------------+------------------+---------------------+------------------+----------------+-------------+----------+-----------------+
| trip_id | duration_sec |     start_date      | start_station_name | start_station_id |      end_date       | end_station_name | end_station_id | bike_number | zip_code | subscriber_type |
+---------+--------------+---------------------+--------------------+------------------+---------------------+------------------+----------------+-------------+----------+-----------------+
|  944732 |         2618 | 2015-09-24 17:22:00 | Mezes              |               83 | 2015-09-24 18:06:00 | Mezes            |             83 |         653 | 94063    | Customer        |
|  984595 |         5957 | 2015-10-25 18:12:00 | Mezes              |               83 | 2015-10-25 19:51:00 | Mezes            |             83 |          52 | nil      | Customer        |
|  984596 |         5913 | 2015-10-25 18:13:00 | Mezes              |               83 | 2015-10-25 19:51:00 | Mezes            |             83 |         121 | nil      | Customer        |
| 1129385 |         6079 | 2016-03-18 10:33:00 | Mezes              |               83 | 2016-03-18 12:14:00 | Mezes            |             83 |         208 | 94070    | Customer        |
| 1030383 |         5780 | 2015-12-06 10:52:00 | Mezes              |               83 | 2015-12-06 12:28:00 | Mezes            |             83 |          44 | 94064    | Customer        |
| 1102641 |          801 | 2016-02-23 12:25:00 | Mezes              |               83 | 2016-02-23 12:39:00 | Mezes            |             83 |         174 | 93292    | Customer        |
|  969490 |          255 | 2015-10-13 19:02:00 | Mezes              |               83 | 2015-10-13 19:07:00 | Mezes            |             83 |         650 | 94063    | Subscriber      |
| 1129386 |         6032 | 2016-03-18 10:33:00 | Mezes              |               83 | 2016-03-18 12:13:00 | Mezes            |             83 |         155 | 94070    | Customer        |
|  947105 |         1008 | 2015-09-26 12:57:00 | Mezes              |               83 | 2015-09-26 13:13:00 | Mezes            |             83 |         157 | 94063    | Subscriber      |
| 1011650 |           60 | 2015-11-16 18:54:00 | Mezes              |               83 | 2015-11-16 18:55:00 | Mezes            |             83 |          35 | 94124    | Subscriber      |
+---------+--------------+---------------------+--------------------+------------------+---------------------+------------------+----------------+-------------+----------+-----------------+

In [10]:
! bq query --use_legacy_sql=FALSE 'SELECT start_station_name, end_station_name, count(*) as trip_freq FROM `bigquery-public-data.san_francisco.bikeshare_trips` GROUP BY start_station_name, end_station_name ORDER BY trip_freq DESC LIMIT 5'

Waiting on bqjob_r73cea82e8bb2f126_00000174b330c76f_1 ... (0s) Current status: DONE
+-----------------------------------------+--------------------------------------+-----------+
|           start_station_name            |           end_station_name           | trip_freq |
+-----------------------------------------+--------------------------------------+-----------+
| Harry Bridges Plaza (Ferry Building)    | Embarcadero at Sansome               |      9150 |
| San Francisco Caltrain 2 (330 Townsend) | Townsend at 7th                      |      8508 |
| 2nd at Townsend                         | Harry Bridges Plaza (Ferry Building) |      7620 |
| Harry Bridges Plaza (Ferry Building)    | 2nd at Townsend                      |      6888 |
| Embarcadero at Sansome                  | Steuart at Market                    |      6874 |
+-----------------------------------------+--------------------------------------+-----------+

In [19]:
%%bigquery

SELECT
    Morning,
    Afternoon,
    Total - Morning - Afternoon AS Other,
    Total
FROM
    (
    SELECT
        COUNT(trip_id) as Total,
        COUNT(IF( EXTRACT(HOUR FROM DATETIME_TRUNC(DATETIME(start_date), HOUR)) BETWEEN 5 AND 11, trip_id, NULL)) AS Morning,
        COUNT(IF( EXTRACT(HOUR FROM DATETIME_TRUNC(DATETIME(start_date), HOUR)) BETWEEN 12 AND 15, trip_id, NULL)) AS Afternoon
    FROM
    `bigquery-public-data.san_francisco.bikeshare_trips`
    ) AS x;

   Morning  Afternoon   Other   Total
0   404919     176142  402587  983648

#### NOTE TO SELF
SAVING VIEWS IN BQ DIDN'T WORK WHEN I TRIED TO RUN A DISTINCT QUERY INSIDE A LARGER FILE
WHEN I PUT THAT SINGLE QUERY INTO A SEPARATE FILE, IT LET ME SAVE THE VIEW
ALSO NOTE, YOU NEED TO CREATE A DATASET INTO WHICH TO INSERT THE TABLE

### Save trips_by_hour to a dataframe in the first cell
Then print that dataframe out in the next

In [20]:
%%bigquery trips_by_hour

SELECT * 
FROM 
    `zinc-hall-287702.Project_1_W205.trip_per_hour`
LIMIT 1000

In [21]:
trips_by_hour

    Hour   trips
0      0    1696
1      1     797
2      2     420
3      3     427
4      4    1273
5      5    4799
6      6   19830
7      7   65900
8      8  128999
9      9   90264
10    10   34888
11    11   30712
12    12   36382
13    13   33029
14    14   27590
15    15   37424
16    16   79000
17    17  118332
18    18   78188
19    19   36584
20    20   19492
21    21   12828
22    22    8343
23    23    4797